<p style="color: green"><%= notice %></p>

<% content_for :title, "Events" %>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %> |
      <%= link_to "Edit this event", edit_event_path(event) %> |
      <%= button_to "Destroy this event", event, method: :delete %>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>
